/*  no worries stylesheet  */
/*-------------------------------------------------------start */

body {
  background-color: #2f5775;
  color: #f1e696;
  font-family: Poppins, serif;
  font-size: 1.3rem;
}
  
  p {
    margin: auto;
    text-align: center;
    width: 88%;
  }

  /* ----------------------------------------header */

nav a {
    color: #3c5ab2;
    display: block;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #5781ff;
    border-radius: 4px;
    color: #e5ff57;
  }
  
  nav li {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    margin-left: 7px;
  }
  
  nav ul {
    border-color: #344d99;
    border-style: solid;
    border-radius: 10px;
    list-style: none;
    margin: auto;
    padding-right: 2.2rem;
    padding-top: 0.5rem;
    text-align: center;
  }
  
  #topline {
    color: #0b48ff;
    letter-spacing: 1px;
    font-weight: 600;
  }

/*----------------------------------------------------flexibles */

.flex-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .flex-container > div {
    margin: 0.4rem;
    padding: 1.2rem;
  }
  
  /*-----------------------------------------sizings */

  #full-Stack-min {
      height: 54.375rem;
      width: 21.875rem;
  }

  #no-Worries-background-min {
      height: 51.5625rem;
      width: 21.875rem;
  }

  #phonic-back-min {
      height: 12.1875rem;
      width: 21.875rem;
  }

  #phonic-front-min {
      height: 12.125rem;
      width: 21.875rem;
  }

  #phonic-front-left-min {
      height: 12.5rem;
      width: 21.875rem;
  } 

  #phonic-front-right-min {
      height: 11.0625rem;
      width: 21.875rem;
  }

  #phonic-inputs-min {
      height: 11.5rem;
      width: 21.875rem;
  }

  #soundcraft-back-min {
      height: 9.5rem;
      width: 21.875rem;
  }

  #soundcraft-eq-min {
      height: ;
      width: 21.875rem;
  }

  #soundcraft-front-min {
      height: 12.1875rem;
      width: 21.875rem;
  }

  #soundcraft-front-2-min {
      height: 15.625rem;
      width: 21.875rem;
  }

  #toa-back-min {
      height: 27.875rem;
      width: 21.875rem;
  }

  #toa-front-min {
      height:  28.9375rem;
      width: 21.875rem;
  }

  /*----------------------------- */